@media only screen and (max-width:1000px) {
    .btn-left{
        display:none !important;
    }
    .btn-right{
        display: none !important;
    }
    .wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .flex-container {
        display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

    }
    .food-container{
        max-width: 300px;
        border: 3px solid #F2A41E;
        margin: 5px;
    }

}

@media only screen and (max-width:400px){
    .logo{
        font-size: 45px !important;
        
    }
}